page-destinataire {

    .card-header{
        font-size: 1.0em;
        font-weight: bold;
        text-align: center;
        background-color: #888888;
        color:rgb(255, 255, 255);
        margin-bottom: 10px;
    }
    
    .ion-list{
            font-size: 0.5em;
            text-align: center;
            background-color: #778899;
            input{
        background-color: #778899;
        color: #FFFAF0;

    }
    }
    
}