page-home {

.card-header{
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
    background-color: #778899;
    color: #FFFAF0;
   
}
.card-header.img:image-statut{
    height: 12px;
    width: 12px;

}
}
