page-categories {
    .card-header{
        font-size: 1.0em;
        font-weight: bold;
        text-align: center;
        background-color: #888888;
        color:rgb(255, 255, 255);
        margin-bottom: 10px;
    }
    .card-content{
        p{
            margin-bottom: 5px;
        }
    }
}
